endpoints:
  rescuezilla-focal:
    path: /asset-mirror/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    - initrd
    - vmlinuz
    os: "rescuezilla"
    version: "focal"
    kernel: "rescuezilla-focal"
