endpoints:
  memtest86plus:
    path: /asset-mirror/releases/download/REPLACE_RELEASE_NAME/
    files:
    - memtest32.bin
    - memtest32.efi
    - memtest64.bin
    - memtest64.efi
    os: "memtest86-plus"
    version: "REPLACE_VERSION"
