endpoints:
  garuda-xfce:
    path: /asset-mirror/releases/download/REPLACE_RELEASE_NAME/
    files:
    - amd_ucode.img
    - desktopfs.sfs
    - intel_ucode.img
    - livefs.sfs
    - initramfs.img
    - mhwdfs.sfs
    - rootfs.sfs
    - vmlinuz
    os: "garuda"
    flavor: "xfce"
    version: REPLACE_VERSION
